*,
*::before,
*::after{
  box-sizing: border-box;
  font-family: 'system-ui', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: radial-gradient(ellipse at top, #d3b7f2, transparent), radial-gradient(ellipse at bottom, #3e7cac, transparent);
  /* background-color: #d3b7f2; */
}

.container {
  position: relative;
  height: 100vh;
  width: 80%;
  padding: 0 8%;
  /* background: linear-gradient(rgba(255, 255, 255, 0.4), transparent), url('../img/support-it.jpg') center center no-repeat; */
  background-size: cover;
}

/* nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
} */

nav .logo{
  width: 120px;
  cursor: pointer;
  font-size: 2.5rem;
  font-style: oblique;
  font-weight: bold;
  text-decoration: none;
  color: #22446d;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  padding-right: 40px;
  text-align: right;
  list-style-type: none;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}

h3 .titre {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  font-size: 20px;
  color: #d3b7f2;
  /* font-family: "fira-sans", comic sans ms; */
}

button.btn{
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 0;
  background-color: transparent;
  color: #22446d;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

button.btn:hover{
  border-color: #22446d;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.form-wrapper .card {
  width: 360px;
  padding: 20px;
  background-color: rgb(0 0 0/35%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.card.show{
  visibility: visible;
  opacity: 1;
}

.card-header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 10px 0;
  margin-top: auto;
  font-size: 1.1rem;
  color: #e0f7fa;
  box-shadow: 2px 3px 8px #e0f7fa;
  border-radius: 80px;
}

.card-header .form-header {
  flex: 50%;
  text-align: center;
  padding: 10px 0;
  border: 1px solid transparent;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
}

.card-header .form-header.active {
  box-shadow: inset 1px 1px 2px rgb(224 247 250 / 55%),
   inset -1px 1px 2px rgb(224 247 250 / 55%),
   inset -1px -1px 2px rgb(224 247 250 / 55%),
   inset -1px -1px 2px rgb(224 247 250 / 55%);
  border-color: #e0f7fa;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.card-body {
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 0;
  text-align: center;
}

form {
  flex: 0 0 100%;
}

.toggleForm {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(224 247 250 / 65%);
  background: none;
  outline: none;
  padding: 10px 5px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.form-control::placeholder {
  color: rgba(224 247 250 / 65%);
}

.formButton{
  border: 1px solid transparent;
  padding: 1rem 3rem;
  background-color: #22446d;
  border-radius: 50px;
  margin-top: 1rem;
  font-size: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.formButton:hover{
  box-shadow: 3px 5px 115px #22446d;
  transform: translateY(-5px);
}
